{% extends 'template.html.twig' %}
{% block title %}
    Forget Password
{% endblock %}
{% block header %}
    <header id="head" class="secondary"></header>
{% endblock %}
{% block body %}
    <div class="container">

       {# <ol class="breadcrumb">
            <li><a href="{{ path('app_first') }}">Home</a></li>
            <li class="active">User access</li>
        </ol>#}

        <div class="row">

            <!-- Article main content -->
            <article class="col-xs-12 maincontent">
                <header class="page-header">
                    <h1 class="page-title">Forget Password</h1>
                </header>

                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3 class="thin text-center">Forgot Your Password?</h3>
                            <p class="text-center text-muted">
                                If you’ve forgotten your password, click the "Forgot Password?" link on the login page.
                                Follow the email instructions to reset it quickly and regain access to your account.
                            </p>
                            <hr>

                            <form action="{{ path('forgetpassword') }}" method="post">
                                <div class="top-margin">
                                    <label>Email <span class="text-danger">*</span></label>
                                    <input type="text" value="" name="email" class="form-control">
                                    {% if error %}
                                        <div class="error">{{ error }}</div>
                                    {% endif %}
                                </div>
                                <hr>

                                <div class="row">
                                    <div class="col-lg-8">
                                        <b><a href="{{ path('app_login') }}">Return to Login Page</a></b>
                                    </div>
                                    <div class="col-lg-4 text-right">
                                        <input class="btn btn-action" type="submit" name="btn" value="Send">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </article>
            <!-- /Article -->

        </div>
    </div>
{% endblock %}