<header id="head">
    <div class="container">
        <div class="row mrt">
            <h1 class="lead">EASY, SECURE, FAST</h1>
            <p class="lead1">EASYSERV: The platform that connects service providers and clients with confidence.</p>
            <p><a class="btn btn-default btn-lg" href="signin.html">SIGN IN</a> <a class="btn btn-action btn-lg" href="signin.html">SIGN UP</a></p>
        </div>
    </div>
</header>