{% extends 'template.html.twig' %}
        {% block title %}
             Home
        {% endblock %}

{% block header %}
<header id="head">
    <div class="container">
        <div class="row mrt">
            <h1 class="lead">EASY, SECURE, FAST</h1>
            <p class="lead1">EASYSERV: The platform that connects service providers and clients with confidence.</p>
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>
                <a class="btn btn-default btn-lg" href="{{ path('app_login') }}">SIGN IN</a>
                <a class="btn btn-action btn-lg" href="{{ path('app_register') }}">SIGN UP</a>
            </p>
            {% endif %}
        </div>
    </div>
</header>
{% endblock %}
{% block body %}
<p>hello i am body block</p>
{% endblock %}



